# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
logs/

#artifacts
artifacts/

# Go
**/bin/
**/dist/
**/coverage.out
**/*.test

# Node / React
**/node_modules/
**/build/
**/dist/
**/.next/
**/.cache/
**/.turbo/
**/coverage/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Misc
*.tmp
*.swp
